#root {
	min-height: 100vh;
	background-color: #202124;
	background-image: linear-gradient(115deg, #202124 0%, #0c0c0c 40%);
}

.error {
	background: red;
}

.top {
	box-sizing: border-box;
	width: 100%;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #380036 0%, #0cbaba 74%);
	padding: 15px;
	position: fixed;
	top: 0;
	z-index: 2;
	opacity: 0.85;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	ul {
		margin: 0;
		float: right;
		li {
			margin-left: 15px;
			display: inline-block;
			font-family: Roboto, Helvetica, sans-serif;
			font-size: 16px;
			a {
				color: #eaeaea;
				text-decoration: none;
				&:hover {
					color: #0cbaba;
				}
			}
		}
	}
}

.card {
	color: #dbdbdb;
	padding: 15px;
	margin-bottom: 15px;
	background: #2d2d2d;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	min-height: 295px;
	span {
		display: block;
		width: 100%;
		padding: 0.1rem 0;
	}
	h1 {
		font-size: 16px;
	}
	h2 {
		font-size: 14px;
	}
	img {
		max-width: 100%;
	}
	.details {
		display: none;
		visibility: collapse;
	}
	&:hover {
		cursor: pointer;
	}
	&.active {
		.imgcont {
			display: none;
			visibility: collapse;
		}
		.details {
			display: block;
			visibility: visible;
		}
		h1 {
			font-size: 22px;
		}
		h2 {
			font-size: 18px;
		}
		img {
			width: 100%;
		}
	}
}

h4.type {
	text-transform: capitalize;
}

.col-xs-5 {
	input {
		width: 100%;
	}
}

.warning {
	color: #ffffff;
}
